{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>👋 Hi, I’m Swapnil Salve aka Shon.</p>
        <p>👀 I’m interested in Learning New Things.</p>
        <p>🌱 I’m currently learning Guitar,Many New Things And Changes In Daily Life Due to Crisis Of Shitty Corona.</p>
        <p>💞️ I’m looking to collaborate on AOSP</p>
        <p>🎷You can Also Connect me on - linktree.com/shonsrtvpb</p>
        <p>😇Contributions- Worked on AOSproject (Dirty Unicorn OS) and (Cesium OS jd2019).</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}